---
layout: layouts/default.njk
title: Giỏ hàng
---

<div class="container px-5 py-24 mx-auto min-h-screen">
  <div class="overflow-x-auto w-full">
    <table class="table w-full">
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox">
            </label>
          </th>
          <th>Sản phẩm</th>
          <th>Loại</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox">
            </label>
          </th>
          <td>
            <div class="flex items-center space-x-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img src="https://i.pravatar.cc/256" alt="Avatar Tailwind CSS Component">
                </div>
              </div>
              <div>
                <div class="font-bold">Title</div>
                <div class="text-sm opacity-50">Subtitle</div>
              </div>
            </div>
          </td>
          <td>Name</td>
          <td>Price</td>
          <th>
            #TODO
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>