---
layout: layouts/default.njk
title: Giỏ hàng
---

<div
  x-show="cart.length === 0"
  class="h-screen flex flex-col items-center justify-center gap-8"
>
  <svg class="w-16 h-16" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path></svg>
  <p>Giỏ hàng đang trống rỗng ~</p>
  <a class="btn btn-primary" href="{{ '/' | url }}">Quay lại của hàng</a>
</div>

<div
  x-show="cart.length > 0"
  x-data="{
    cartItems: [],
    removeItems(cartItemIndex) {
      this.cartItems.splice(cartItemIndex, 1);
      this.cart.splice(cartItemIndex, 1);
    },
  }"
  x-init="
    db.collection('products').get()
    .then(querySnapshot => {
      let products = [];

      querySnapshot.forEach(doc => products.unshift(doc));
      cart.forEach(cartItem => {
        cartItems.push({
          ...cartItem,
          data: products.find(product => product.id === cartItem.id).data()
        });
      });
    });
  "
>

<div class="max-w-4xl py-24 sm:px-5 mx-auto">
  <div class="overflow-x-auto w-full">
    <table class="table w-full">
      <thead>
        <tr>
          <th>Sản phẩm</th>
          <th>Giá</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <template x-for="(cartItem, cartItemIndex) in cartItems" :key="cartItem.id">
          <tr>
            <td>
              <div class="flex items-center space-x-3">
                <div class="w-12 h-12">
                  <img class="rounded" :src="cartItem.data.image">
                </div>
                <div>
                  <div class="font-bold" x-text="cartItem.data.title"></div>
                  <div class="text-sm opacity-50" x-text="cartItem.data.subtitle"></div>
                </div>
              </div>
            </td>
            <td x-text="cartItem.data.price + 'K'"></td>
            <td>
              <input
                type="number"
                class="input input-sm input-bordered w-16 mr-2"
                min="1"
                x-model="cartItem.quantity"
              >
              <button
                class="btn btn-sm btn-outline btn-error"
                @click="removeItems(cartItemIndex)"
              >Xóa</button>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</div>

<div
  class="py-16"
  x-data="{
    order: {
      name: '',
      address: '',
      phone: '',
    },
    uploadOrder() {
      cart = [];
      db.collection('orders').add({ ...this.order, items: cartItems })
      .then(() => window.location.href = '{{ '/' | url }}')
      .catch(error => alert(error));
    },
  }"
>
  <div class="hero-content flex-col gap-16">
    <h1 class="text-3xl font-bold">Điền đơn hàng</h1>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-200">
      <div class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Họ và Tên</span>
          </label>
          <input
            type="text"
            class="input input-bordered"
            x-model="order.name"
          >
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Địa chỉ giao hàng</span>
          </label>
          <input
            type="text"
            class="input input-bordered"
            x-model="order.address"
          >
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Số điện thoại</span>
          </label>
          <input
            type="text"
            class="input input-bordered"
            x-model="order.phone"
          >
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary" @click="uploadOrder()">Đặt Ngay!</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>