---
layout: layouts/default.njk
title: Sản phẩm
---

<div
  class="md:container px-5 py-24 mx-auto"
  x-data="{
    id: (new URLSearchParams(window.location.search)).get('id'),
    product: {},
    currentQuantity: 1,
    addToCart() {
      this.cart = this.cart.filter(item => item.id !== this.id);
      this.cart.push({
        id: this.id,
        quantity: this.currentQuantity,
      });
    },
    deleteProduct() {
      db.collection('products').doc(this.id).delete()
      .then(() => window.location.href = '{{ '/' | url }}')
      .catch(error => alert(error));
    },
  }"
  x-init="
    db.collection('products').doc(id).get()
    .then(doc => product = doc.data())
    .catch(error => alert(error));
  "
>
  <div class="lg:w-4/5 mx-auto flex flex-wrap">
    <div class="md:w-1/2 w-full md:pr-4 lg:pr-8 md:py-6 mb-6 md:mb-0">
      <h2
        class="text-sm title-font opacity-75 tracking-widest"
        x-text="product.subtitle"
      >Subtitle</h2>
      <h1
        class="text-3xl title-font font-medium mb-4"
        x-text="product.title"
      >Title</h1>
      <p class="leading-relaxed mb-4 text-justify">
        Một đôi Adidas được thiết kế với công nghệ tiên tiến chuyên dùng để sản
        xuất sản phẩm cho các vận động viên chuyên nghiệp sẽ giúp tối ưu hóa
        hiệu suất hoạt động và tiết kiệm năng lượng cho các hoạt động trong ngày
        của bạn.
      </p>
      <div class="w-full my-6 flex sizes-center items-center place-content-between">
        <span class="title-font font-medium text-2xl">
          <span x-text="product.price">0</span>K
        </span>
        <div class="form-control">
          <div class="input-group bg-transparent">
            <input
              type="number"
              class="input input-bordered input-primary w-24"
              min="1"
              x-model="currentQuantity"
            >
            <button class="btn btn-primary" @click="addToCart()">Cho vào giỏ</button>
          </div>
        </div>
      </div>
      <div x-show="admin" class="flex gap-2">
        <a
          class="btn btn-sm btn-warning"
          :href="'{{ '/edit' | url }}?id=' + id"
        >sửa</a>
        <button class="btn btn-sm btn-error" @click="deleteProduct()">Xóa</button>
      </div>
    </div>
    <img
      class="md:w-1/2 w-full md:h-auto h-72 object-cover object-bottom rounded"
      :src="product.image"
    >
  </div>
</div>